<header>
    <div class="container">
        <div class="left-part">
            <h3>Food Project</h3>
        </div>
        <div class="right-part">
            <button class="cart">Cart</button>
        </div>
    </div>    
</header>
<section>
    <div class="main">
        <div class="box" *ngFor="let item of Food">
            <div class="food-image">
                <img src="{{item}}" alt="">
            </div>
            <div class="food-details">
                <h3>Burger</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, tempora.</p>
                <p>110 Rs.</p>
                <p>Cook Time : 5 to 10 min</p>
            </div>
        </div>
        <!-- <div class="box">
            <div class="food-image">
                <img src="../../assets/images/burger-with-melted-cheese.webp" alt="">
            </div>
            <div class="food-details">
                <h3>Burger</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, tempora.</p>
                <p>110 Rs.</p>
                <p>Cook Time : 5 to 10 min</p>
            </div>
        </div>
        <div class="box">
            <div class="food-image">
                <img src="../../assets/images/burger-with-melted-cheese.webp" alt="">
            </div>
            <div class="food-details">
                <h3>Burger</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, tempora.</p>
                <p>110 Rs.</p>
                <p>Cook Time : 5 to 10 min</p>
            </div>
        </div>
        <div class="box">
            <div class="food-image">
                <img src="../../assets/images/burger-with-melted-cheese.webp" alt="">
            </div>
            <div class="food-details">
                <h3>Burger</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, tempora.</p>
                <p>110 Rs.</p>
                <p>Cook Time : 5 to 10 min</p>
            </div>
        </div> -->
    </div>
</section>
<!-- <section>
    <div class="main">
        <div class="box">
            <div class="food-image">
                <img src="../../assets/images/burger-with-melted-cheese.webp" alt="">
            </div>
            <div class="food-details">
                <h3>Burger</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, tempora.</p>
                <p>110 Rs.</p>
                <p>Cook Time : 5 to 10 min</p>
            </div>
        </div>
    </div>
</section> -->
